name: "build-and-release-package"

on:
  workflow_dispatch:

concurrency: "${{github.workflow}}-${{github.ref}}"

jobs:
  build-package:
    runs-on: "ubuntu-latest"
    permissions:
      packages: "write"
    steps:
      - uses: "actions/checkout@v3"
        with:
          submodules: "recursive"

      - uses: "actions/setup-java@v4"
        with:
          java-version: "11"
          distribution: "adopt"
          server-id: "ossrh"
          server-username: "MAVEN_USERNAME"
          server-password: "MAVEN_PASSWORD"
          gpg-private-key: "${{secrets.GPG_PRIVATE_KEY}}"
          gpg-passphrase: "MAVEN_GPG_PASSPHRASE"

      - name: "Build package, run tests, and deploy to GitHub"
        run: "mvn --batch-mode deploy -Pmaven_release"
        env:
          MAVEN_USERNAME: "${{secrets.OSSRH_USERNAME}}"
          MAVEN_PASSWORD: "${{secrets.OSSRH_TOKEN}}"
          MAVEN_GPG_PASSPHRASE: "${{secrets.GPG_PASSPHRASE}}"
